<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - LARM</title>
    <link rel="stylesheet" href="../static/core/css/style.css">
</head>

<body>

    <div class="navbar">
        <div><strong><a href="/" style="color: white; text-decoration: none;">LARM</a></strong></div>
        <div><img src="../static/core/imgs/brasao_UFSC.jpg" alt="Universidade" height="30"></div>
    </div>

    <div class="brief">
        <h2>Bem vindo ao sistema do LARM!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>


    <div class="container">
        <div class="buttons">
            <a href="/login" class="button">LOGIN</a>
            <a href="/cadastro" class="button">CADASTRO</a>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>