{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - LARM</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>
    {% include 'intern_navbar.html' %}

    <div class="inventory-container">
        <!-- Barra lateral -->
        <nav class="sidebar">
            <ul>
                <li class="dropdown">
                    <span class="dropdown-toggle">Cadastro de Itens ⬇</span>
                    <ul class="submenu">
                        <li><a href="{% url 'cadastro_item_cons' %}">Material de Consumo</a></li>
                        <li><a href="{% url 'cadastro_item_perm' %}">Material Permanente</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span class="dropdown-toggle">Baixa ⬇</span>
                    <ul class="submenu">
                        <li><a href="#">Por Defeito</a></li>
                        <li><a href="#">Por Descarte</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span class="dropdown-toggle">Empréstimo ⬇</span>
                    <ul class="submenu">
                        <li><a href="#">Novo Empréstimo</a></li>
                        <li><a href="#">Devolução</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    {% if can_report %}
                    <span class="dropdown-toggle">Relatório ⬇</span>
                    <ul class="submenu">
                        <li><a href="{% url 'estoque_atual' %}">Estoque Atual</a></li>
                        <li><a href="#">Histórico de Movimentação</a></li>
                    </ul>
                    {% else %}
                    <span class="dropdown-toggle">Relatório ⬇</span>
                    <ul class="submenu">
                        <li><div class="menu-button disabled">Estoque Atual</div></li>
                        <li><div class="menu-button disabled">Histórico de Movimentação</div></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>


        <!-- Área dos dashboards -->
        <main class="dashboard">
            <h1>Visão Geral do Inventário</h1>
            <p>Aqui serão exibidos os gráficos e estatísticas do inventário.</p>
            <div class="dashboard-content">
                <div class="chart">📊 Gráfico 1</div>
                <div class="chart">📈 Gráfico 2</div>
                <div class="chart">📉 Gráfico 3</div>
            </div>
        </main>
    </div>

    {% include 'footer.html' %}
</body>

</html>