{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - LARM</title>
    <link rel="stylesheet" href="../static/core/css/style.css">
</head>
<body>
    {% include 'main_navbar.html' %}

    <div class="menu-container">
        <!-- Botão "Inventário" disponível para todos -->
        <a href="{% url 'inventario' %}" class="menu-button" style="color: black;">Inventário</a>
        
        <!-- Botão "Cadastro": se for admin, é um link; se não, é um bloco desabilitado -->
        {% if is_admin %}
          <a href="{% url 'admin-cadastro' %}" class="menu-button">Cadastro</a>
        {% else %}
          <div class="menu-button disabled">Cadastro</div>
        {% endif %}
      </div>

    {% include 'footer.html' %}
</body>
</html>